# Server Configuration
PORT=3000
NODE_ENV=production

# MongoDB Connection
MONGODB_URI=mongodb+srv://mzazitech_db_user:<db_password>@mzaziech.xz7nssj.mongodb.net/?appName=mzaziech

# JWT Secret (change this in production)
JWT_SECRET=42246776@aA

# Paystack Configuration
PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxxxxxxxxx
PAYSTACK_CALLBACK_URL=http://localhost:3000/payment/verify

# Admin User (first run)
ADMIN_EMAIL=admin@mzazi.com
ADMIN_PASSWORD=Admin@123456
